.git
.gitignore
node_modules/
Frontend/node_modules/
Frontend/streetshare/node_modules/
Frontend/streetshare/dist/
Frontend/streetshare/.vite/
Backend/__pycache__/
Backend/.env
**/__pycache__/
**/*.pyc
**/.idea/
