# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.venv
lerna-debug.log*

Frontend/streetshare/node_modules
dist
dist-ssr
*.local
.vite/
Frontend/streetshare/.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env
Backend/.env


#frontend
node_modules/
Frontend/node_modules/
Frontend/streetshare/node_modules/
dist/

# python
__pycache__/
*.py[cod]
*$py.class
